<div>
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de creación</th>
      <th>Tiene Issues</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let repo of repos">
      <td>{{repo.name}}</td>
      <td>{{repo.created_at | date}}</td>
      <td>
        <button mat-raised-button color="primary" (click)="navigateToIssues(repo)">
          Ver issues
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
